<?xml version="1.0" encoding="UTF-8"?>
<!-- considering control sls by config: include  -->
<configuration>
    <conversionRule conversionWord="errorLevel" converterClass="common.logging.converter.custom.DefaultErrorLevelConverter"/>
    <conversionRule conversionWord="errorType" converterClass="common.logging.converter.custom.DefaultErrorTypeConverter"/>

    <!-- include: common-core/resource-->
    <include resource="logback-include.xml"/>
    <include resource="logback-include-json.xml"/>

    <springProperty scope="context" name="sls" source="common.logs.sls.enabled" defaultValue="false"/>
    <springProperty scope="context" name="logstash" source="common.logs.logstash.enable" defaultValue="false"/>

    <!-- Level: FATAL 0  ERROR 3  WARN 4  INFO 6  DEBUG 7 -->
    <root level="INFO">
        <!--  aliyun-sls: need sls id & key etcs.   -->
        <if condition='property("sls") == "true"'>
            <!-- <if condition='property("env").contains("dev") || property("env").contains("prod")'>-->
            <then>
                <appender-ref ref="aliyun"/>
            </then>
        </if>

        <if condition='property("logstash") == "true"'>
            <!-- <if condition='property("env").contains("dev") || property("env").contains("prod")'>-->
            <then>
                <appender-ref ref="logstash-json"/>
            </then>
        </if>
        <appender-ref ref="console"/>
        <appender-ref ref="debug"/>
        <appender-ref ref="error"/>
    </root>
</configuration>
